body {
  background-color:   pink;
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed1 {
  font-size: 12px;
}

.completed2 {
  font-size: 12px;
}
.completed4 {
  font-size: 12px;
}
  .completed3 {
    font-size: 12px;
  }

#tasks .completed {
  background-color: #ccc;
  text-decoration: underline;
  font-size: 12px;
}